@model PetStore.Filters.Error
@{
	ViewData["Title"] = "Error";
}

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>@Model.StatusCode</h1>
			<h2>@Model.Message</h2>
		</div>
	</div>
</div>

