@model IPagedList<PetStore.Models.DomainModels.Product>

@{
	ViewData["Title"] = "Home Page";
}

<table id="products" class="table table-striped table-bordered" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@{ foreach (var product in Model)
			{
				<tr>
					<td>@product.Name</td>
					<td>@Html.ActionLink("Details", "ProductDetails", "Management", new { id = product.Id }) | @Html.ActionLink("Buy", "Buy", "Home", new { id = product.Id })</td>
				</tr>
			}
		}
	</tbody>
</table>

